<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="margin: 0; padding: 0; background-color: #f4f4f4">
<table
    width="100%"
    cellpadding="0"
    cellspacing="0"
    border="0"
    style="background-color: #f4f4f4; width: 100%; height: 100%"
>
    <tr>
    <td align="center" valign="top">
        <table
        cellpadding="0"
        cellspacing="0"
        border="0"
        style="
            max-width: 495px;
            width: 100%;
            background-color: #0e0329;
            border-radius: 24px;
            padding: 32px;
            text-align: center;
            color: #fff;
            font-family: Arial, sans-serif;
            margin: 32px auto;
            position: relative;
            z-index: 0;
            background-image: url('https://raw.githubusercontent.com/CryptoVaultPlatform/backend/refs/heads/main/public/default/email-template-bg.png');
            background-size: cover;
        "
        >
        <tr style="position: relative; z-index: 20;">
            <td style="padding-bottom: 16px">
            <img
                src="https://raw.githubusercontent.com/CryptoVaultPlatform/backend/refs/heads/main/public/default/logo.png"
                alt="logo"
                style="
                width: 36px;
                height: 36px;
                display: inline;
                margin-right: 8px;
                vertical-align: middle;
                "
            />
            <span
                style="
                display: inline;
                font-size: 24px;
                font-weight: 600;
                line-height: 150%;
                letter-spacing: 0.05em;
                vertical-align: middle;
                font-family: Arial, sans-serif;
                padding-top: 10px;
                "
                >Cryptovault!</span
            >
            </td>
        </tr>
        <tr style="position: relative; z-index: 20;">
            <td style="padding-bottom: 15px">
            <img
                src='<%- logo%>'
                alt="logo"
                style="
                width: 72px;
                display: block;
                margin: 0 auto;
                "
            />
            </td>
        </tr>
        <tr style="position: relative; z-index: 20;">
            <td style="padding-bottom: 16px">
            <h1
                style="
                font-size: 24px;
                font-weight: 600;
                line-height: 150%;
                letter-spacing: 0.05em;
                margin: 0;
                font-family: Arial, sans-serif;
                "
            >
                <%= title%>
            </h1>
            </td>
        </tr>
        <tr style="position: relative; z-index: 20;">
            <td style="padding-bottom: 8px">
            <p
                style="
                font-weight: 500;
                font-size: 18px;
                line-height: 150%;
                color: #e4e4e4;
                margin: 0;
                font-family: Arial, sans-serif;
                "
            >
                Subject: <%= subject%>
            </p>
            </td>
        </tr>
        <tr style="position: relative; z-index: 20;">
            <td style="padding-bottom: 24px">
            <p
                style="
                font-size: 16px;
                font-weight: 300;
                line-height: 150%;
                color: #e4e4e4;
                margin: 0;
                font-family: Arial, sans-serif;
                "
            >
                Hi <%= username %><br /><%- content%>
            </p>
            </td>
        </tr>
        <tr style="position: relative; z-index: 20;">
            <td style="padding-bottom: 24px">
            <a
                href='<%= link%>'
                style="
                display: inline-block;
                text-decoration: none;
                margin: 0 auto;
                width: 142px;
                height: 52px;
                line-height: 52px;
                font-family: Arial, sans-serif;
                font-size: 11px;
                font-weight: 700;
                color: #fff;
                text-align: center;
                border-radius: 50px;
                background-image: url('https://raw.githubusercontent.com/CryptoVaultPlatform/backend/refs/heads/main/public/default/button-bg.png');
                background-position: -10px -9.5px;
                border: 2px solid #79699d;
                cursor: pointer;
                "
            >
                <%= linkTitle%>
            </a>
            </td>
        </tr>
        <tr style="position: relative; z-index: 20;">
            <td style="padding-bottom: 8px">
            <h2
                style="
                font-size: 14px;
                font-weight: 400;
                text-align: center;
                line-height: 150%;
                color: #e4e4e4;
                margin: 0;
                font-family: Arial, sans-serif;
                "
            >
                <%- footer%>
            </h2>
            </td>
        </tr>
        <tr style="position: relative; z-index: 20;">
            <td>
            <h3
                style="
                margin-top: 8px;
                font-size: 12px;
                font-weight: 700;
                text-align: center;
                line-height: 150%;
                color: #e4e4e4;
                margin: 0;
                font-family: Arial, sans-serif;
                "
            >
                – Cryptovault Security Team
            </h3>
            </td>
        </tr>
        <!-- <tr style="z-index: 10;">
            <td>
                <img src="https://raw.githubusercontent.com/CryptoVaultPlatform/backend/refs/heads/main/public/default/coin.png" width="117px" style="margin: -60% -80% 0 0;" />
            </td>
        </tr>
        <tr style="z-index: 10;">
            <td>
                <img src="https://raw.githubusercontent.com/CryptoVaultPlatform/backend/refs/heads/main/public/default/light.png" width="400px" style="margin: -30% -30% -70% -50%;" />
            </td>
        </tr> -->
        </table>
    </td>
    </tr>
</table>
</body>
  